@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Spiritual Care - Temporary site</h1>
    <p class="lead">This is a temporary site for Spriritual Care. This site will be used for data entry until the main site completed.</p>
    <p>This site is lacking authentication and autherization.</p>
</div>

